<div class="modal_original" id="modal_profile">
  <div class="modal_original_wrap modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" id="modal_profile_wrap">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_modal_profile"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-times-circle" id="close_modal_profile"></i>
        </button>
      </div>
      <div class="modal-body" id="modal-body-profile"></div>
    </div>
  </div>
</div>