<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-body" style="width:95% !important;max-width:100% !important">
        <div class="perfil-usuario-bio" style="text-align:left;justify-content:left;">
            <p class="texto"><span class="font-weight-bold">Importante:</span> <span>Debes llenar todos los datos del formulario a continuación de manera correcta para poder disfrutar de las funciones de nuestra pagina web. Tu perfil solo podras editarlo manualmente una (01) vez. Si luego deseas modificar algún dato debes comunicarlo a soporte por los medios que se indicaran en la información de tu perfil.</span></p>
        </div>
    </div>
</section>
<%= render 'form' %>


