<!--MODAL PARAMETROS DE RECARGAS ##########################-->
<div class="modal_original" id="modal_recharge_param">
  <div class="modal_original_wrap modal-dialog modal-dialog-centered modal-dialog-scrollable" id="modal_recharge_param_wrap">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title color-special" id="title_modal_recharge_param"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-times-circle color-standar-medio" id="close_modal_recharge_param"></i>
        </button>
      </div>
      <div class="modal-body" id="modal_body_recharge_param"></div>
    </div>
  </div>
</div>