<p class="texto">Todas las recargas realizadas se muestran aqui con su Estatus, los cuales se detallan a continuación:</p>

<p><span class="badge badge-pill badge-primary">enviada</span><span> : La recarga ha sido enviada con exito y el monto de la misma se ha descontado de tu balance.</span></p>

<p><span class="badge badge-pill badge-success">confirmada</span><span> : Ha sido confirmado que la recarga se ha acreditado en el saldo del número destinatario.</span></p>

<p class="align-middle"><span class="badge badge-pill badge-warning align-middle">anulada</span><span> : La recarga se cancelo debido a algún error en los datos enviados al momento de realizarla. El monto de las recargas enviadas que resulten anuladas se reversara a tu balance inmediatamente. Te recomendamos que verifiques bien los datos de las recargas con este estatus antes de volver a realizarlas.</span></p>