<div class="modal_original" id="modal_info" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-modal="true">
    <div class="modal_original_wrap modal-dialog-centered modal-dialog-scrollable modal-md" id="modal_info_wrap">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title color-special-two font-weight-bold" id="title_modal_contact">Información</h5>
                <i class="far fa-times-circle close_modal color-special-two btn-effect rounded-circle" id="close_info"></i>
            </div>

            <div class="modal-body">
                <%=render "#{modulo}/info-#{modulo}"%>
            </div>
        </div>  
    </div>
</div>