<div class="modal_contacts" style="min-width:500px !important">
  <div class="modal_contacts-wrap modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_modal_contact"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-times-circle close_modal" id="close_modal_contact_standar"></i>
        </button>
      </div>
      <div class="modal-body" id="modal_body_contacts">
      </div>
    </div>
  </div>
</div>