<p class="texto">Los depositos son procesados de Lunes a Sábado en horario de 6:00 am hasta las 9:00 pm.</p>

<p class="texto">Todos los depositos realizados se muestran aqui con su Estatus, los cuales se detallan a continuación:</p>

<p><span class="badge badge-pill badge-secondary">Diferido</span><span> : El deposito ha sido enviado y esta en espera de confirmación. Esto puede tardar entre 5 y 30 minutos, sin embargo por causas ajenas a nuestra voluntad y en casos excepcionales podria llegar a tardar hasta 48 horas</span></p>

<p><span class="badge badge-pill badge-success">confirmado</span><span> : El deposito registrado ha sido confirmado y se ha acreditado el monto del pago en tu balance.</span></p>

<p><span class="badge badge-pill badge-warning">anulado</span> : El deposito ha sido anulado debido a que no se confirmo en nuestra cuenta bancaria una transacción con los datos registrados en dicho deposito.</p>

<i><p>Nota: Si deseas realizar el deposito a través de una cuenta bancaria debes realizarla del mismo banco, selecciona una cuenta en cuyo banco poseas una cuenta bancaria y puedas realizar el deposito. En caso de no tener cuentas en ninguno de los bancos donde tenemos las nuestras puedes hacer el deposito por medio de un pago movil interbancario a nuestro pago móvil registrado.</p></i>