<p class="texto">Todos los depositos realizados se muestran aqui con su Estatus, los cuales se detallan a continuación:</span></p>

<p><span class="badge badge-pill badge-secondary">Diferido</span><span> : El deposito ha sido enviado y esta en espera de confirmación. Esto puede tardar entre 5 y 30 minutos.</span></p>

<p><span class="badge badge-pill badge-success">confirmado</span><span> : El deposito registrado ha sido confirmado y se ha acreditado el monto del pago en tu balance.</span></p>

<p><span class="badge badge-pill badge-warning">anulado</span> : El deposito ha sido anulado debido a que no se confirmo en nuestra cuenta bancaria una transacción con los datos registrados en dicho deposito.</p>

