<div class="modal_accounts" style="min-width:500px !important">
  <div class="modal_accounts-wrap modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cuentas Bancarias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-times-circle close_modal" id="close_modal_accounts_standar"></i>
        </button>
      </div>
      <div class="modal-body" id="modal_body_accounts">
        <h5 class="text-center">Transferencias</h5>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Banco de Venezuela</h5>
            <hr>
            <p class="card-text">Titular: Jorge Ochoa</p>
            <p class="card-text">N° Cedula: V-21515060</p>
            <p class="card-text">N° Cuenta: 0102-0650-28-0000210502</p>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Banco Mercantil</h5>
            <hr>
            <p class="card-text">Titular: Jorge Ochoa</p>
            <p class="card-text">N° Cedula: V-21515060</p>
            <p class="card-text">N° Cuenta: 0105-0187-36-1187066524</p>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Banco B.O.D</h5>
            <hr>
            <p class="card-text">Titular: Jorge Ochoa</p>
            <p class="card-text">N° Cedula: V-21515060</p>
            <p class="card-text">N° Cuenta: 0116-0507-95-0022126820</p>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Banco Bicentenario</h5>
            <hr>
            <p class="card-text">Titular: Jorge Ochoa</p>
            <p class="card-text">N° Cedula: V-21515060</p>
            <p class="card-text">N° Cuenta: 0175-0180-17-0076695698</p>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Banco Bancaribe</h5>
            <hr>
            <p class="card-text">Titular: Gisela Hernández</p>
            <p class="card-text">N° Cedula: V-7016890</p>
            <p class="card-text">N° Cuenta: 0114-0169-42-1691358808</p>
          </div>
        </div>

        <h5 class="text-center">Pago Movil</h5>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Banco de Venezuela (0102)</h5>
            <hr>
            <p class="card-text">N° Cedula: V-21515060</p>
            <p class="card-text">Telefono: (0414) 8170372</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
