<div class="modal_original" id="modal_deposit">
  <div class="modal_original_wrap modal-dialog modal-dialog-centered modal-dialog-scrollable" id="modal_deposit_wrap">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title color-special font-weight-bold" id="title_modal_deposit"></h5>
        
        <i class="far fa-times-circle close_modal color-special btn-effect rounded-circle" id="close_modal_deposit"></i>
        
      </div>
      <div class="modal-body" id="modal_body_deposits">
      </div>
    </div>
  </div>
</div>