//MODAL DE FORMULARIOS ###############################################
.modal_original,
.modal_contacts {
  background: rgba(48, 48, 48, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 9999;
}

.modal_original-wrap,
.modal_contacts-wrap {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 950px;
  transform: scale(0.6);
  opacity: 0;
  transition: 0.3s ease all;
}

.modal_original.show,
.modal_contacts.show {
  visibility: visible;
}

.modal_original-wrap.show,
.modal_contacts-wrap.show {
  transform: scale(1);
  opacity: 1;
}

.close_modal,
.close_modal_contact {
  position: absolute;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
}

.close_movistar,
.text-movistar,
.text-movistar_tv {
  color: var(--movistar) !important;
}

.close_digitel,
.text-digitel {
  color: var(--digitel) !important;
}

.close_movilnet,
.text-movilnet {
  color: var(--movilnet) !important;
}

.close_cantv,
.text-cantv {
  color: var(--cantv) !important;
}

.close_inter,
.text-inter {
  color: var(--inter) !important;
}
.close_simpletv,
.text-simpletv,
.text-simple_tv {
  color: var(--simpletv) !important;
}
//FIN MODAL FORMULARIOS ##############################################

//ELEMENTOS DEL FORMULARIO ##########################################

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title-h1 {
  text-align: center;
  font-weight: 700;
}

form {
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.form {
  width: 100%;
  margin: auto;
}

form .grupo {
  position: relative;
  margin: 30px;
}

input.input-special {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

input.input-special:focus {
  outline: none;
  color: #5e5d5d;
}

label.label-special {
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

input.input-special:focus ~ label.label-special,
input.input-special:valid ~ label.label-special {
  top: -14px;
  font-size: 12px;
}

input:focus ~ .label-movistar,
input:valid ~ .label-movistar,
input:focus ~ .label-movistar_tv,
input:valid ~ .label-movistar_tv {
  color: var(--movistar) !important;
}

input:focus ~ .label-digitel,
input:valid ~ .label-digitel{
  color: var(--digitel) !important;
}

input:focus ~ .label-movilnet,
input:valid ~ .label-movilnet {
  color: var(--movilnet) !important;
}

input:focus ~ .label-cantv,
input:valid ~ .label-cantv {
  color: var(--cantv) !important;
}

input:focus ~ .label-inter,
input:valid ~ .label-inter {
  color: var(--inter) !important;
}

input:focus ~ .label-simple_tv,
input:valid ~ .label-simple_tv {
  color: var(--simpletv) !important;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  //background: linear-gradient(to right, #B06AB3, #4568DC);
  transition: 0.3s ease width;
  left: 0;
}

.barra-movistar::before,
.barra-movistar_tv::before{
  background: var(--movistar);
}

.barra-digitel::before {
    background: var(--digitel);
  }

.barra-movilnet::before {
  background: var(--movilnet);
}

.barra-cantv::before {
  background: var(--cantv);
}

.barra-inter::before {
  background: var(--inter);
}

.barra-simpletv::before {
  background: var(--simpletv);
}

input:focus ~ .barra::before {
  width: 100%;
}

@media screen and (max-width: 500px) {
  /*
  form {
    width: 80%;
  }*/
}

.badge-movistar,
.badge-movistar_tv,
.table-movistar,
.table-movistar_tv {
  color: #fff !important;
  background-color: var(--movistar);
}

.badge-digitel,
.table-digitel {
    color: #fff !important;
    background-color: var(--digitel);
  }

.badge-movilnet,
.table-movilnet {
  color: #fff !important;
  background-color: var(--movilnet);
}

.badge-cantv,
.table-cantv {
  color: #fff !important;
  background-color: var(--cantv);
}

.badge-inter,
.table-inter {
  color: #fff !important;
  background-color: var(--inter);
}
.badge-simpletv,
.table-simple_tv {
  color: #fff !important;
  background-color: var(--simpletv);
}

.badge-movistar:hover,
.badge-movistar_tv:hover {
  color: #fff;
  background-color: var(--movistar_hover);
}

.badge-digitel:hover {
    color: #fff;
    background-color: var(--digitel_hover);
  }

.badge-movilnet:hover {
  color: #fff;
  background-color: var(--movilnet_hover);
}

.badge-cantv:hover {
  color: #fff;
  background-color: var(--cantv_hover);
}

.badge-inter:hover {
  color: #fff;
  background-color: var(--inter_hover);
}
.badge-simpletv:hover {
  color: #fff;
  background-color: var(--simpletv_hover);
}

.lbl{
  display: inline-block;
  width: 38px;
  height: 22px;
  background: #979797;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: .2s;
}
 
.lbl::after{
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #eee;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: .2s;
}
 
#switch:checked + .lbl::after{
  left: 22px;
}
 
#switch:checked + .lbl-movistar,
#switch:checked + .lbl-movistar_tv,
.button-movistar,
.button-movistar_tv{
  background: var(--movistar) !important;
}

#switch:checked + .lbl-digitel,
.button-digitel{
  background: var(--digitel) !important;
}

#switch:checked + .lbl-movilnet,
.button-movilnet{
  background: var(--movilnet) !important;
}

#switch:checked + .lbl-cantv,
.button-cantv{
  background: var(--cantv) !important;
}

#switch:checked + .lbl-inter,
.button-inter{
  background: var(--inter) !important;
}

#switch:checked + .lbl-simple_tv,
.button-simple_tv{
  background: var(--simpletv) !important;
}
 
#switch{
  display: none;
}

.btn-standar {
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  color: white !important;
  padding: 0.5rem 2.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.btn-movistar:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--movistar);
}

.btn-digitel:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--digitel);
  }

.btn-movilnet:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--movilnet);
}
.btn-cantv:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--cantv);
}
.btn-inter:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--inter);
}
.btn-simpletv:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--simpletv);
}

.btn--left:before {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.25s linear;
}
.btn--left:hover:before {
  width: 100%;
}

.button-movistar,
.button-movistar_tv,
.button-movilnet,
.button-digitel,
.button-cantv,
.button-simple_tv,
.button-inter{
  color: #fff !important;
}
//FIN ELEMENTOS DEL FORMULARIO ########################################
