@import "bootstrap";

:root {
  --colorTextos: #49454567;
  --movistar: #019bf2;
  --digitel: #5c068c;
  --movilnet: #f36f09;
  --cantv: #020094;
  --inter: #006fba;
  --simpletv: #1fb2e7;

  --movistar_hover: #017ac0;
  --digitel_hover: #dc3545;
  --movilnet_hover: #d16009;
  --cantv_hover: #1e1aee;
  --inter_hover: #025b97;
  --simpletv_hover: #0f8cba;
}

//CAJAS DE LAS OPERADORAS ##############################################
.border-left-movistar {
  border-left: 0.25rem solid var(--movistar) !important;
}

.border-left-digitel {
  border-left: 0.25rem solid var(--digitel) !important;
}

.border-left-movilnet {
  border-left: 0.25rem solid var(--movilnet) !important;
}

.border-left-cantv {
  border-left: 0.25rem solid var(--cantv) !important;
}

.border-left-inter {
  border-left: 0.25rem solid var(--inter) !important;
}

.border-left-simpletv {
  border-left: 0.25rem solid var(--simpletv) !important;
}

.contenedor-img:hover .img-operadora {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  //filter: opacity(.5);
  transition: all 0.5s ease-in-out;
}

.contenedor-img {
  overflow: hidden;
  cursor: pointer;
}

.card-options {
  text-align: center;
}

.card-options:hover .card-body {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}

.card-body {
  overflow: hidden;
}

.card-pointer {
  cursor: pointer;
}
//FIN DE CAJAS DE LAS OPERADORAS #######################################

//SweetAlert ###########################################################
.swal-text {
  text-align: center;
}

a {
  text-decoration: none !important;
}

a.special-link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
a.special-link:hover,
a.special-link:focus {
  background-size: 100% 2px;
}

//TABLA ELEGANTE
#main-container {
  margin: 30px auto;
  width: 100%;
}

.table-standar {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.th-standar,
.td-standar {
  padding: 20px;
}

.thead-standar {
  background-color: #246355;
  border-bottom: solid 5px #0f362d;
  color: white;
}

tr.tr-standar:nth-child(even) {
  background-color: #ddd;
}

tr.tr-standar:hover td.td-standar {
  background-color: #369681;
  color: white;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 720px) {
  .table-standar {
    border: 0;
    background-color: #f8f9fc;
  }

  .table-standar tr {
    margin-bottom: 20px;
    padding: 10px;
    display: block;
    border-bottom: 2px solid #000;
  }

  .table-standar td {
    display: block;
    text-align: right;
    font-size: 16px;
    border-bottom: 1px dotted #ccc;
  }

  .table-standar td:last-child {
    border-bottom: 0;
  }

  .table-standar td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: 600;
  }

  .table-standar thead {
    display: none;
  }
}

p.msj_error {
  font-size: 75%;
  color: white;
  font-weight: bold;
  padding: 5px;
  max-width: 234px;
}

//MODALS ////////////////////////////////
.modal_original,
.modal_contacts,
.modal_deposits,
.modal_accounts {
  background: rgba(48, 48, 48, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 9999;
}

.modal_original-wrap,
.modal_contacts-wrap,
.modal_deposits-wrap,
.modal_accounts-wrap {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 950px;
  transform: scale(0.6);
  opacity: 0;
  transition: 0.3s ease all;
}

.modal_original.show,
.modal_contacts.show,
.modal_deposits.show,
.modal_accounts.show {
  visibility: visible;
}

.modal_original-wrap.show,
.modal_contacts-wrap.show,
.modal_deposits-wrap.show,
.modal_accounts-wrap.show {
  transform: scale(1);
  opacity: 1;
}

.close_modal {
  position: absolute;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
}

//PROGRESS BAR
.contenedor_loader {
  width: 100%;
  height: 0px;
  margin-bottom: 4rem !important;
  transition: all 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: loader 1.5s infinite ease-in-out;
}

.loader {
  color: #4685fa;
  font-size: 13px;
  position: relative;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
  animation-delay: 0.16s;
}

@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.bg-special {
  color: #fff;
  background-color: #3c96ff;
	background-image: -webkit-linear-gradient(bottom right, #3c96ff, #2dfbff);
	background-image: -o-linear-gradient(bottom right, #3c96ff, #2dfbff);
	background-image: linear-gradient(to top left, #2dfbff,  #3c96ff);
  box-shadow: 0px 0px 43px 0px rgba(131, 131, 131, 0.38);
}
