<div class="text-center">
    <p>El sistema de recargas estará activo en los siguientes horarios:</p>
    
    <b>Lunes a Sábado</b>
    <br>
    5:00 am => 10:00 pm
    <br><br>
    <b>Domingo</b>
    <br>
    No Disponible

    <br><br>
    <i>Nota: Este Horario se expandirá en el futuro.</i>
</div>