<div class="text-center">
    <p>Las recargas se enviaran las 24 horas del dia pero se procesaran en el siguiente horario:</p>
    
    <b>Lunes a Domingo</b>
    <br>
    5:00 am => 11:00 pm
    <br><br>

    <br><br>
    <i>Nota: Este Horario se expandirá en el futuro.</i>
</div>