<div class="modal_original" style="min-width:500px !important" id="modal_contacts">
  <div class="modal_original_wrap modal-dialog modal-dialog-centered modal-dialog-scrollable" id="modal_contacts_wrap">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_modal_contact">Contactos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-times-circle close_modal" id="close_modal_contact"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form">
            <div class="grupo" id="">
                <input class="input-special" type="text" data-operadora="" maxlength="20" size="20" id="input_buscador_contacts" required="required"><span class="barra"></span>
                <label for="" class="label-special">Nombre o alias</label>
            </div>
          </div>
        </form>
        
        <table class="" id="tabla_buscador_contacts" >
            <thead>
                <tr>
                  <th >Nombre</th>
                  <th >Número</th>
                  <th ></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div class="contenedor_loader" style="display:none;">
            <div class="loader" id="loader_busq_contact"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

function seleccionarContacto(event,contact) {
  event.preventDefault()
  input_cod_area.value = contact.getAttribute("data-cod_area")
  input_number_phone.value = contact.getAttribute("data-number")
  $("#contenedor-switch").css({"display":"none"})

  $("#close_modal_contact").trigger("click")
}

</script>