<!--MODAL RECARGA ##########################-->
<div class="modal_original" id="modal_recharge">
  <div class="modal_original_wrap modal-dialog modal-dialog-centered modal-dialog-scrollable" id="modal_recharge_wrap">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title_modal"></h5>
      
        <i class="far fa-times-circle close_modal color-special btn-effect rounded-circle"  id="close_modal_recharge"></i>
        <br>
        
      </div>
      <div class="modal-body container-scroll">
        <!---TIPO DE PAGO-->
        <div class="row" id="caja_type_pago" style="display:none;">
          <div class="col-12 col-sm-6 mb-4">
            <div class="card-options" data-pago="Prepago" style="width:200px">
              <div class="card-body card-body-content card-pointer">
                Prepago
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 mb-4">
            <div class="card-options" data-pago="Post-pago" style="width:200px">
              <div class="card-body card-body-content card-pointer">
                Post-pago
              </div>
            </div>
          </div>
        </div>

        <!--FORMULARIO-->
        <div class="row" id="caja_form" style="display:none;"></div>
        
      </div>
    </div>
  </div>
</div>