<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-body" style="width:95% !important;max-width:100% !important">
        <div class="perfil-usuario-bio" style="text-align:left;justify-content:left;">
            <p class="texto"><span class="font-weight-bold">Información:</span> <span>Todas las recargas realizadas se muestran aqui con su Estatus, los cuales se detallan a continuación:</span></p>

            <p><span class="badge badge-pill badge-primary">enviada</span><span> : La recarga ha sido enviada con exito y el monto de la misma se ha descontado de tu balance.</span></p>

            <p><span class="badge badge-pill badge-success">confirmada</span><span> : Ha sido confirmado que la recarga se ha acreditado en el saldo del número destinatario.</span></p>

            <p class="align-middle"><span class="badge badge-pill badge-warning align-middle">anulada</span><span> : La recarga se cancelo debido a algún error en los datos enviados al momento de realizarla. El monto de las recargas enviadas que resulten anuladas se reversara a tu balance inmediatamente. Te recomendamos que verifiques bien los datos de las recargas con este estatus antes de volver a realizarlas.</span></p>
        </div>
    </div>
</section>

<div id="main-container" class="mt-4">

    <table class="table-standar table-historial" id="table_historial">

        <thead class="thead-standar bg-special">
            <tr class="tr-standar">
                <th class="th-standar">Fecha y hora</th>
                <th class="th-standar">Sistema</th>
                <!--<th class="th-standar">T. Pago</th>-->
                <th class="th-standar">Numero</th>
                <th class="th-standar">Monto</th>
                <th class="th-standar">Estatus</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tbody_historial"><%=render 'recharges_from_historial'%></tbody>

    </table>  
    <%= will_paginate @recharges, class:"pagination d-none"%>
</div>

<%if @recharges.next_page%>
    <div class="contenedor_loader" >
        <div class="loader"></div>
    </div>  
<%end%>

<div class="row justify-content-center">
  <%unless @recharges.any? %>
    <%=render "partials/registro_vacio"%>
  <%end%>
</div>

<%=render "modal_recharge"%>

<script>
    $(document).ready(function(){
        if ($('.pagination').length) {
            $(window).scroll(function() {
                url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50){
                    $.getScript(url)
                    $('.pagination .next_page').removeAttr('href');
                }
            });
        }
    })                  
</script>