<p id="notice"><%= notice %></p>

<h1>System Configurations</h1>

    <% @system_configurations.each do |system_configuration| %>
        Parametros De Recarga
        <%= link_to 'Show', system_configuration %>
        <%= link_to 'Edit', edit_system_configuration_path(system_configuration) %>
    <% end %>
<br>
